
main {
	/* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1200' height='700' preserveAspectRatio='none' viewBox='0 0 1200 700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1111%26quot%3b)' fill='none'%3e%3crect width='1200' height='700' x='0' y='0' fill='rgba(33%2c 37%2c 41%2c 1)'%3e%3c/rect%3e%3cpath d='M904.405%2c313.851C950.495%2c315.035%2c989.884%2c284.363%2c1013.35%2c244.677C1037.3%2c204.173%2c1045.257%2c154.767%2c1022.976%2c113.321C999.571%2c69.784%2c953.806%2c40.341%2c904.405%2c42.024C857.401%2c43.625%2c820.254%2c78.971%2c799.048%2c120.95C779.958%2c158.74%2c784.449%2c202.161%2c804.743%2c239.318C826.055%2c278.339%2c859.958%2c312.709%2c904.405%2c313.851' fill='rgba(255%2c 127%2c 80%2c 0.72)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M168.607%2c267.839C221.627%2c268.122%2c264.907%2c232.463%2c293.655%2c187.912C325.719%2c138.222%2c355.178%2c76.28%2c325.054%2c25.391C295.233%2c-24.985%2c226.953%2c-28.109%2c168.607%2c-23.332C119.669%2c-19.325%2c75.81%2c5.442%2c51.024%2c47.829C25.982%2c90.653%2c22.471%2c142.835%2c45.854%2c186.587C70.643%2c232.97%2c116.016%2c267.558%2c168.607%2c267.839' fill='rgba(255%2c 127%2c 80%2c 0.72)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1213.342%2c505.886C1259.952%2c504.763%2c1299.904%2c474.333%2c1321.657%2c433.095C1341.981%2c394.566%2c1339.748%2c347.807%2c1315.985%2c311.299C1294.173%2c277.788%2c1253.312%2c265.592%2c1213.342%2c266.687C1175.528%2c267.723%2c1141.382%2c285.463%2c1120.001%2c316.669C1094.903%2c353.301%2c1075.951%2c398.717%2c1095.596%2c438.54C1117.035%2c482.001%2c1164.895%2c507.053%2c1213.342%2c505.886' fill='rgba(255%2c 127%2c 80%2c 0.72)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-108.22 424.05 a148.83 148.83 0 1 0 297.66 0 a148.83 148.83 0 1 0 -297.66 0z' fill='rgba(255%2c 127%2c 80%2c 0.72)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M535.82 215.12 a143.96 143.96 0 1 0 287.92 0 a143.96 143.96 0 1 0 -287.92 0z' fill='rgba(255%2c 127%2c 80%2c 0.72)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1111'%3e%3crect width='1200' height='700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e"); */
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1200' height='700' preserveAspectRatio='none' viewBox='0 0 1200 700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1011%26quot%3b)' fill='none'%3e%3crect width='1200' height='700' x='0' y='0' fill='rgba(33%2c 37%2c 41%2c 1)'%3e%3c/rect%3e%3cpath d='M883.27 179.01 a168.76 168.76 0 1 0 337.52 0 a168.76 168.76 0 1 0 -337.52 0z' fill='rgba(255%2c 127%2c 80%2c 0.72)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M133.45 213.58 a203.15 203.15 0 1 0 406.3 0 a203.15 203.15 0 1 0 -406.3 0z' fill='rgba(255%2c 127%2c 80%2c 0.72)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M148.197%2c509.399C170.895%2c509.437%2c193.392%2c500.025%2c204.696%2c480.342C215.96%2c460.727%2c213.271%2c436.249%2c201.186%2c417.129C189.905%2c399.28%2c169.312%2c391.029%2c148.197%2c390.952C126.926%2c390.874%2c105.868%2c398.741%2c94.533%2c416.74C82.451%2c435.926%2c80.661%2c460.534%2c92.024%2c480.154C103.363%2c499.733%2c125.571%2c509.361%2c148.197%2c509.399' fill='rgba(255%2c 127%2c 80%2c 0.72)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M840.06 485.97 a161.5 161.5 0 1 0 323 0 a161.5 161.5 0 1 0 -323 0z' fill='rgba(255%2c 127%2c 80%2c 0.72)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M492.731%2c616.552C562.04%2c613.683%2c603.927%2c545.891%2c634.051%2c483.405C659.561%2c430.489%2c663.745%2c370.869%2c636.183%2c318.992C606.719%2c263.534%2c555.435%2c220.857%2c492.731%2c217.411C423.9%2c213.629%2c353.936%2c242.083%2c319.101%2c301.569C283.946%2c361.6%2c296%2c435.084%2c329.583%2c496.008C364.568%2c559.475%2c420.322%2c619.549%2c492.731%2c616.552' fill='rgba(255%2c 127%2c 80%2c 0.72)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1011'%3e%3crect width='1200' height='700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-size: cover;
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-style-5{
    /* margin-top: 20rem; */
	max-width: 500px;
	padding: 10px 20px;
	background: #393e48;
	margin: 10px auto;
	padding: 20px;
    width: 50vw;
    height: 60vh;
	border-radius: 8px;
}
.form-style-5 fieldset{
	border: none;
}
.form-style-5 legend {
	font-size: 1.4em;
	margin-bottom: 1.5rem;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: bold;
}

.form-style-5 input[type="text"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 select,
.form-style-5 textarea{
	font-family: 'Raleway', sans-serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background: rgba(255,255,255,.1);
	color:#ffff;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 select:focus,
.form-style-5 textarea:focus{
	background: rgba(255,255,255,.1);
	border:1px solid #ff7f50;
	outline: none !important;
}

.form-style-5 .number {
	background-color: #ff7f50;
    font-family: 'Raleway', sans-serif;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

::placeholder {
	color: rgb(186, 184, 184);
  }
  option{
    background: #393e48;
    color: rgb(186, 184, 184);
  }