<div class="contenedor" >
  <div class="contenedor1" >
    <iframe class="reproductor" width="860" height="415" [src]="videopatata.url" ></iframe>
  <div class="datos text-light">
    <h1>{{videoId.titulo}}</h1>
    <p>{{videoId.canal}}</p>
    <p>3 suscriptores</p>
    <i class='bx bx-like'></i>
    <i class='bx bx-dislike' ></i>
  </div>
  <p>Comentarios</p>
    <div class="texto">

      <textarea class="form-control" [(ngModel)]="nuevoComentario" placeholder="Deja aquí tu comentario" id="floatingTextarea2" style="height: 100px"></textarea>
      <button class="btn btn-primary" type="button" (click)="crearComentario(this.nuevoComentario)">Enviar</button>

      <!--probando el comentario que he robado-->
      <h1 class="text-light">Comentarios</h1>
      <div class="comments-container" *ngFor="let comentario of videoId.comentarioDTO ">

        <ul id="comments-list"class="comments-list">
          <li>
            <div class="comment-main-level">
              <!--Contenedor del comentario-->
              <div class="comment-box">
                <div class="comment-head">
                  <h6 class="comment-name by-author">{{comentario.usuario}}</h6>
                  <i class="fa fa-reply"></i>
                  <i class="fa fa-heart"></i>
                </div>
                <div class="comment-content">
                  <p>{{comentario.comentario}}</p>
                </div>
                <button class="btn btn-primary" (click)="mostrarRespuesta(comentario)">Responder</button>
              </div>

            </div>



            <div *ngIf="comentario.mostrarCajaRespuesta">
              <input class="form-control" [(ngModel)]="comentario.nuevaRespuesta" placeholder="Escribe tu respuesta aquí" style="height: 100px">
              <button class="botoncito" (click)="crearRespuesta(comentario.nuevaRespuesta, comentario.id)">Enviar respuesta</button>
            </div>

            <div *ngFor="let resp of comentario.respuesta">
              <!-- Respuestas de los comentarios -->
              <ul class="comments-list reply-list">
                <li>
                  <!-- Contenedor del Comentario -->
                  <div class="comment-box">
                    <div class="comment-head">
                      <h6 class="comment-name"><a href="http://creaticode.com/blog">{{resp.usuario }}</a></h6>
                      <i class="fa fa-reply"></i>
                      <i class="fa fa-heart"></i>
                    </div>
                    <div class="comment-content">
                      <p>{{resp.mensaje}}</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>

          </li>
        </ul>
      </div>

      <!--LOS COMENTARIOS ANTIGUOS-->
      <!-- Iterar sobre la lista de comentarios -->

      <!--<div class="comentario text-light" *ngFor="let comentario of videoId.comentarioDTO">
        <p class="datos_usuario">{{comentario.usuario}}</p>
        <p class="comentario1">{{comentario.comentario}}</p>

        <button class="btn btn-primary" (click)="mostrarRespuesta(comentario)">Responder</button>


        <div *ngIf="comentario.mostrarCajaRespuesta">
          <input class="form-control" [(ngModel)]="comentario.nuevaRespuesta" placeholder="Escribe tu respuesta aquí" style="height: 100px">
          <button class="btn btn-primary" (click)="crearRespuesta( comentario)">Enviar respuesta</button>
        </div>

        Iterar sobre las respuestas
        <div class="comentario" *ngFor="let resp of comentario.respuesta">
          <p class="datos_usuario">{{resp.usuario}}</p>
          <p class="comentario1">{{resp.mensaje}}</p>
        </div>
      </div>-->
    </div>

  </div>
  <div class="listvideos">
      <!--Carta-->
      <div class="card">
        <div class="image"></div>
        <div class="image__overlay"></div>
        <div class="content">
          <div class="avatar"></div>
          <div class="content__text">
            <span class="stream__title">🚀2023 LEC Summer - Group Stage - Day 2 - KOI vs. G2</span>
            <div class="content__body">
              <span class="streamer__name">ibai</span>
              <span class="event">League of Legends</span>
            </div>

          </div>
        </div>
      </div><!--Carta-->
    <div class="card">
      <div class="image"></div>
      <div class="image__overlay"></div>
      <div class="content">
        <div class="avatar"></div>
        <div class="content__text">
          <span class="stream__title">🚀2023 LEC Summer - Group Stage - Day 2 - KOI vs. G2</span>
          <div class="content__body">
            <span class="streamer__name">ibai</span>
            <span class="event">League of Legends</span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!---->
