<div class="temporary__storage">
  <div class="card">
    <div class="image"></div>
    <div class="image__overlay"></div>
    <div class="content">
      <div class="avatar"></div>
      <div class="content__text">
        <span class="stream__title">🚀2023 LEC Summer - Group Stage - Day 2 - KOI vs. G2</span>
        <div class="content__body">
          <span class="streamer__name">ibai</span>
          <span class="event">League of Legends</span>
        </div>

        <span class="categories">
          <a class="categories__btn" href="#">Español</a>
          <a class="categories__btn" href="#">KOI</a>
          <a class="categories__btn" href="#">LOL</a>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="temporary__storage">
  <div class="card">
    <div class="image"></div>
    <div class="image__overlay"></div>
    <div class="content">
      <div class="avatar"></div>
      <div class="content__text">
        <span class="stream__title">🚀2023 LEC Summer - Group Stage - Day 2 - KOI vs. G2</span>
        <div class="content__body">
          <span class="streamer__name">ibai</span>
          <span class="event">League of Legends</span>
        </div>

        <span class="categories">
          <a class="categories__btn" href="#">Español</a>
          <a class="categories__btn" href="#">KOI</a>
          <a class="categories__btn" href="#">LOL</a>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="temporary__storage">
  <div class="card">
    <div class="image"></div>
    <div class="image__overlay"></div>
    <div class="content">
      <div class="avatar"></div>
      <div class="content__text">
        <span class="stream__title">🚀2023 LEC Summer - Group Stage - Day 2 - KOI vs. G2</span>
        <div class="content__body">
          <span class="streamer__name">ibai</span>
          <span class="event">League of Legends</span>
        </div>

        <span class="categories">
          <a class="categories__btn" href="#">Español</a>
          <a class="categories__btn" href="#">KOI</a>
          <a class="categories__btn" href="#">LOL</a>
        </span>
      </div>
    </div>
  </div>
</div>
