<div class="container-fluid fondo">
  <div class="row">
    <div class="col-12 col-lg-3 col-md-6 d-flex " *ngFor= "let vi of video">
      <div class="temporary__storage" >
        <div class="card" >
          <div class="image prueba">
            <img  src="assets/imagenes/blanco.png" (click)="redirigirAotraPagina()">
            <iframe width="320" height="180" [src]="vi.safeUrl" allow="autoplay"> </iframe>
          </div>
          <div class="image__overlay"></div>
          <div class="content">
            <div class="avatar"><img class="avatafoto"  src="assets/imagenes/wallpaper_Mochi/city.jpg"></div>
            <div class="content__text">
              <span (click)="redirigirAotraPagina()" class="stream__title">{{vi.titulo}}</span>
              <div class="content__body">
                <span class="streamer__name">{{vi.canal}}</span>
                <span class="event">{{vi.tematica}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>





<!--Aqui empieza la tabla de prueba
<div class="prueba">
  <section>
    <main class="table">

      <div class="table__header">
        <h1>Usuarios</h1>
      </div>

      <div class="table__body">
        <table>
          <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Username</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Nombre canal</th>
            <th>Descripcion</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor= "let patata of patata">
            <td> <strong> {{ patata.nombre }} </strong> </td>
            <td> <strong> {{ patata.apellidos }} </strong> </td>
            <td> <strong> {{ patata.username }} </strong> </td>
            <td> <strong> {{ patata.email }} </strong> </td>
            <td> <strong> {{ patata.telefono }} </strong> </td>
            <td> <strong> {{ patata.nombreCanal }} </strong> </td>
            <td> <strong> {{ patata.descripcion }} </strong> </td>
          </tr>




          </tbody>
        </table>
      </div>

    </main>
  </section>



</div>
-->
