<header class="header-area header-sticky bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <a class="btn p-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
            <i class='bx bx-menu'></i>
          </a>

          <a routerLink="/Inicio" routerLinkActive="active" class="logo">
            <img src="./assets/imagenes/logito.png">
          </a>

          <div class="search-input">
            <form id="search" action="#">
              <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
              <i class='bx bx-search-alt-2'></i>
            </form>
          </div>

          <ul class="nav">
            <li><a routerLink="/Inicio" routerLinkActive="active" class="active">Inicio</a></li>
            <li *ngIf="isLoggedIn()"><a routerLink="/chats" routerLinkActive="active">Chats</a></li>
            <li><a href="details.html">Details</a></li>
            <li><a href="streams.html">Streams</a></li>
            <li *ngIf="isLoggedIn()"><app-campanita></app-campanita></li>
            <li *ngIf="isLoggedIn()"> <a (click)="logout()">Logout</a></li>
            <li *ngIf="isLoggedIn() else prueba"><a routerLink="/perfil" routerLinkActive="active">Perfil de {{authService.getUsername()}} <img src="./assets/imagenes/login_img/avengers.jpg" alt=""></a></li>
            <ng-template #prueba>
            <li ><a routerLink="/Login" routerLinkActive="active">Login</a> </li>
            </ng-template>

          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>

        </nav>
        <div class="offcanvas offcanvas-start bg-dark text-light" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
            <button type="button" class="btn-close me-3" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <p>Try scrolling the rest of the page to see this option in action.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</header>


