<header class="header-area header-sticky bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <a class="btn p-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
            <i class='bx bx-menu'></i>
          </a>

          <a routerLink="/Inicio" routerLinkActive="active" class="logo">
            <img src="./assets/imagenes/logito.png" (click)="llamarComponente3()">
          </a>

          <div class="search-input">
            <form id="search" action="#">
              <input type="text" placeholder="Busca algo..." id='searchText' name="searchKeyword" [(ngModel)]="input" onkeypress="handle" />
              <button class="button" (click)="enviarDatos()"> <i
                class='bx bx-search-alt-2'
                onmouseover="this.style.color='#DF9A37'"
                onmouseout="this.style.color=''"
              ></i></button>
            </form>
          </div>

          <ul class="nav">
            <li><a routerLink="/Inicio" routerLinkActive="active" class="active">Inicio</a></li>
            <li *ngIf="isLoggedIn()"><a routerLink="/chats" routerLinkActive="active">Chats</a></li>
            <li><a href="details.html">Details</a></li>
            <li><a href="streams.html">Streams</a></li>
            <li *ngIf="isLoggedIn()"><app-campanita></app-campanita></li>
            <li *ngIf="isLoggedIn()"> <a (click)="logout()">Logout</a></li>
            <li *ngIf="isLoggedIn() else prueba"><a routerLink="/perfil" routerLinkActive="active">Yo<img src="{{ usuario?.imagen }}"></a></li>
            <ng-template #prueba>
            <li ><a routerLink="/Login" routerLinkActive="active">Login</a> </li>
            </ng-template>

          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>

        </nav>
        <div class="offcanvas offcanvas-start bg-dark text-light" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
          <div class="offcanvas-header">
            <h4 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menú</h4>
            <button type="button" class="btn-close me-3" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="botoncitos"><button (click)="llamarComponente3()"><i class='bx bx-home-smile'></i>       INICIO</button></div>
            <div class="botoncitos"><button (click)="llamarComponente()"><i class='bx bxs-hot'></i>         EN TENDENCIAS</button></div>
            <div class="botoncitos"  *ngIf="isLoggedIn()"><button (click)="llamarComponente2()"><i class='bx bxs-user-voice'></i>              SUSCRIPCIONES</button></div>
            <br>
            <br>
            <!-- otro-componente.component.html -->
            <h4 class="offcanvas-title" id="offcanvasWithBothOptionsLabel1">Temáticas</h4>
            <br>
            <div class="botoncitos"><button (click)="seleccionarTematica('Musica'); llamarComponente4()"><i class='bx bx-music'></i>     MÚSICA</button></div>
            <div class="botoncitos"><button (click)="seleccionarTematica('Deportes'); llamarComponente4()"><i class='bx bx-football'></i>     DEPORTES</button></div>
            <div class="botoncitos"><button (click)="seleccionarTematica('VideoJuegos'); llamarComponente4()"><i class='bx bx-joystick' ></i>    VIDEOJUEGOS</button></div>
            <div class="botoncitos"><button (click)="seleccionarTematica('Podcasts'); llamarComponente4()"><i class='bx bx-microphone' ></i>    PODCASTS</button></div>
            <div class="botoncitos"><button (click)="seleccionarTematica('Aprendizaje'); llamarComponente4()"><i class='bx bx-book-content' ></i>    APRENDIZAJE</button></div>
            <div class="botoncitos"><button (click)="seleccionarTematica('Restauracion'); llamarComponente4()"><i class='bx bxs-bowl-rice' ></i>     RESTAURACION</button></div>
            <div class="botoncitos"><button (click)="seleccionarTematica('Programacion'); llamarComponente4()"><i class='bx bx-code-alt'></i>    PROGRAMACION</button></div>



          </div>

        </div>
      </div>
    </div>
  </div>
</header>


