<!-- <form (ngSubmit)="submitForm()">
    <div>
      <label for="newPassword">Nueva Contraseña:</label>
      <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
    </div>

    <button type="submit">Actualizar Contraseña</button>
</form> -->
<main>
  <section class="container">

        <form (ngSubmit)="submitForm()" class="michi">
            <h2>Reestablece tu contraseña</h2>
            <div class="michi2">
              <label for="newPassword">Escribe tu nueva contraseña</label>
              <!-- <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required> -->
              <div class="group">
                  <svg stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon">
                  <path path d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" stroke-linejoin="round" stroke-linecap="round"></path>
                  </svg>
                <input type="password" id="newPassword" class="input" name="newPassword" [(ngModel)]="newPassword" required>
              </div>
            </div>
          <!-- <button type="submit">Actualizar contraseña</button> -->
          <app-boton [buttonText]="customButtonText" type="submit"></app-boton>
        </form>

  </section>
</main>
