<main>
    <div class="card-container">
        <img src="../../../../assets/imagenes/logo.png" routerLink="/Inicio" routerLinkActive="active">
    
        <div class="card-header">
            <h2>Iniciar sesion</h2>
            <p>Entra a tu cuenta para seguir usando MochiTV!</p>
        </div>

        <form class="form">                
            <label>
                <i class='bx bxs-user bx-tada' ></i>
                <input placeholder="" type="text" class="input" required autofocus>
                <span>Nombre de usuario</span>
            </label> 
                
            <label>
                <i class='bx bxs-lock bx-tada' ></i>
                <input placeholder="" type="password" class="input" required>
                <span>Contraseña</span>
            </label>

            <button class="submit">Iniciar sesión</button>
        </form>

        <div class="card-footer">
            <p>Aun no tienes una cuenta?</p>
            <a href="#">Registrate aqui gratis  </a>
        </div>
    </div>
</main>

