main{
  overflow: hidden;
  height: 100%;
  background: rgb(89,50,55);
  background: linear-gradient(90deg, rgba(89,50,55,1) 0%, rgba(141,71,73,1) 35%, rgba(214,84,86,1) 100%);
  /* background: rgb(129,78,83);
  background: linear-gradient(90deg, rgba(129,78,83,1) 0%, rgba(242,152,86,1) 90%, rgba(244,150,105,1) 100%); */
}

span, .wave-group .label, li, .btn.btn-primary, h2, input, textarea{
  color: #ffff;
  font-family: 'Raleway', sans-serif;
}

.container {
  position: relative; /* Establece el contexto de posición */
  width: 80% !important;
  height: 85vh;
  margin-top: 50px;
  border-radius: 3%;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  /* background-color: #41464b00; */

}

#imagenes {
  left: 0; /* Ajusta la posición horizontal según sea necesario */
  width: 100%;
  height: 100%;
  padding: 2em;

  background: url('../../../assets/imagenes/wp11039285.jpg') center/cover;
  /* clip-path: polygon(0 0, 75% 0, 0 95%); izq*/
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 95%);

}

#formulario {
  width: 100%;
  height: 100%;
  background-color: #212529;
    /* clip-path: polygon(70% 0, 100% 0, 100% 100%, 0 100%, 0 95%); der*/
  clip-path: polygon(0 0, 20% 0, 110% 100%, 0 100%, 0 0);
}

#imagenes, #formulario {
  position: absolute;
  top: 0;
  width: 100%; /* Ambos hijos ocupan el 100% del ancho del contenedor padre */
  height: 100%;
  border-radius: 2%;
}

#formulario #logo{
  width: 50%;
}

#formulario .form-register{
  width: 50%;
}

.titulos {
  font-weight: bold;
  text-align: center;
}

.img{
  width: 15rem;
  height: auto;
}

#progressbar {
  /* width: 30vw; */
  counter-reset: step;
  z-index: 1;
  /* margin-bottom: 10rem; */
}

#progressbar li {
  list-style-type: none;
  float: left;
  width: 45%;
  position: relative;
  text-align: center;
  line-height: 40px;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  line-height: 30px;
  display: block;
  font-size: 18px;
  color: #333;
  background: white;
  border-radius: 50%;
  margin: 0 auto 5px auto;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: black;
  position: absolute;
  left: -50%;
  top: 14px;
  z-index: -1;
}
#progressbar li:first-child:after {
  content: none;
}
#progressbar li.active:before,
#progressbar li.active:after,
#progressbar li.active ~ li:before,
#progressbar li.active ~ li:after {
  background: white;
  color: black;
}

#progressbar li:not(.active):before,
#progressbar li:not(.active):after {
  background: #df9a37;
  color: #333;
}

.form-register{
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-direction: column;
  margin-top: 2rem;
}


/* INPUTS */
.wave-group {
  position: relative;
  width: 70%;
  margin-bottom: 1rem
}

.wave-group .input,
.wave-group .textarea{
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.wave-group .input:focus,
.wave-group .textarea:focus {
  outline: none;
}

.wave-group .label {
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: flex;
}

.wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char,
.wave-group .textarea:focus ~ label .label-char,
.wave-group .textarea:valid ~ label .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: #df9a41;
}

.wave-group .bar {
  position: relative;
  display: block;
  width: 200px;
}

.wave-group .bar:before,.wave-group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #df9a41;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}

.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after,
.wave-group .textarea:focus ~ .bar:before,
.wave-group .textarea:focus ~ .bar:after {
  width: 50%;
}

/* ---- INPUTS END ---- */

.inputsUnidos{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.btn.btn-primary{
  background-color:#df9a41;
  border-color: #212529;
  float: right;
  margin-right: 3rem;
}

.img{
  cursor: pointer;
}

.label.text--flicking.error {
  color: #ff5304;
}
