.Container {
  color: white;
  height: 99.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(33, 37, 41, 1) 23%,
    rgba(47, 52, 56, 1) 71%
  );
  background-image: url(../../../assets/imagenes/cine.jpg);
}
.box {
  width: 50vw;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2f3438;

  box-shadow: 15px 5px 10px #48529944;
}
.registro {
  height: 90vh;
  width: 50vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.Div {
  display: flex;
  width: 45vw;
  height: 55vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.h1 {
  margin-top: -0.5em;
  width: 45vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff7f50;
}
img {
  width: 8vw;
}
.logo {
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagenes {
  padding: 2em;
  width: 80vh;
  height: 85vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-size: cover;
  flex-direction: column;

  animation: change 30s ease-in-out infinite;
}
@keyframes change {
  0% {
    background-image: url(../../../assets/imagenes/registro/bear.jpg);
  }
  20% {
    background-image: url(../../../assets/imagenes/registro/adventuretime.jpg);
  }
  40% {
    background-image: url(../../../assets/imagenes/registro/devilman.jpg);
  }
  60% {
    background-image: url(../../../assets/imagenes/registro/thelastofus.jpg);
  }
  80% {
    background-image: url(../../../assets/imagenes/registro/mrrobot.jpg);
  }
  100% {
    background-image: url(../../../assets/imagenes/registro/robots.jpg);
  }
}

.globalInput {
  display: flex;
  width: 49vw;
  height: 70vh;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.buttons {
  margin-top: 1em;
  width: 49vw;
  background-color: #2f3438;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons1 {
  width: 50vw;
  background-color: #2f3438;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.button {
  position: relative;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #ff7f50;
  transition: all 0.2s ease;
}
h1 {
  text-decoration: underline;
}
#progressbar {
  width: 50vw;
  counter-reset: step;
  z-index: 1;
}

#progressbar li {
  list-style-type: none;
  float: left;
  width: 50%;
  position: relative;
  text-align: center;
  line-height: 40px;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  line-height: 30px;
  display: block;
  font-size: 18px;
  color: #333;
  background: white;
  border-radius: 50%;
  margin: 0 auto 5px auto;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: black;
  position: absolute;
  left: -50%;
  top: 14px;
  z-index: -1;
}
#progressbar li:first-child:after {
  content: none;
}
#progressbar li.active:before,
#progressbar li.active:after,
#progressbar li.active ~ li:before,
#progressbar li.active ~ li:after {
  background: white;
  color: black;
}

#progressbar li:not(.active):before,
#progressbar li:not(.active):after {
  background: #df9a37;
  color: #333;
}

.input-box {
  position: relative;
  margin-bottom: 1em;
}

.input {
  width: 35vw;
  height: 2vh;
  padding: 1.5rem;
  background: none;
  border: solid 1.9px black;
  border-radius: 0.9rem;
  color: black;
  font-size: 1rem;
  background-color: #9dadbd;
}
.textarea {
  position: relative;
  width: 35vw;
  height: 10vh;
  padding: 1.5rem;
  background: none;
  border: solid 1.9px black;
  border-radius: 0.9rem;
  color: black;
  font-size: 1rem;
  background-color: #9dadbd;
}

.label {
  position: absolute;
  pointer-events: none;
  left: 0rem;
  top: 0.6rem;
  white-space: nowrap;
  overflow: hidden;
  line-height: 2rem;
  padding-left: 1rem;
  font-size: 1rem;
  color: black;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus ~ .label,
input:valid ~ label {
  top: -6px;
  left: -5px;
  font-size: 0.875rem;
  color: black;
}
.textarea:focus ~ .label,
textarea:valid ~ label {
  top: -6px;
  left: -5px;
  font-size: 0.875rem;
  color: black;
}
.label.text--flicking.error {
  color: #ff5304;
}
