<main>
    <section class="container">
  
        <div class="michi">
            <h2>Cuenta sin verificar</h2><br>
            <p>Verifica tu cuenta si quieres iniciar sesión</p>
            <p>Al registrarte se envío un link a tu correo eléctronico. ¡Accede y verifica tu cuenta para poder seguir usando MochiTV!</p><br>
            <!-- <p>¿No has recibido ningun correo? <a>Click aquí</a>, te lo reenviamos sin problema</p>
  

            <h2>Error {{ errorType }}</h2>
            <p>{{ errorMessage }}</p> -->

            <app-boton [buttonText]="customButtonText" routerLink="/Inicio" routerLinkActive="active"></app-boton>
        </div>
        
    </section>
  </main>


  