p, h3, h4, i, li{
    color: #fff;
}

button{
  font-family: 'Raleway', sans-serif;
}

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#f9ce99, transparent);
    margin-bottom: 0.75rem;
}

.seccion-perfil-usuario .perfil-usuario-portada { /* PORTADA CON IMAGEN */
    display: block;
    position: relative;
    width: 93%;
    height: 16.5rem;
    /* background-image: linear-gradient(45deg, #f9ce99, #e4a95b); */
    border-radius: 0 0 10px 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
    box-shadow: 0 0 5rem rgba(220, 220, 220, 0.2);

}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada { /* WALLPAPER */
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar { /* Circulo foto d perfil */
    display: flex;
    width: 17rem;
    height: 17rem;
    align-items: center;
    justify-content: center;
    border: 7px solid #4b4e4f;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(220, 220, 220, 0.2);
    position: absolute;
    bottom: -10rem;
    left: calc(14% - 9rem);
    z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar { /* btn de ajustes circulo */
    position: absolute;
    left: 2px;
    top: 2px;
    border: 0;
    background-color: #1f2122;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
    cursor: pointer;
}

.boton-avatar i, .boton-portada i, .btn-videos i{
    font-size: 1.6rem;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 100%;
    position: relative;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    /* flex-wrap: wrap; */
    padding: 1.5rem 5rem;
    /* box-shadow: 0 0 12px rgba(0, 0, 0, .2); */
    background-color: #1f2122;
    border-radius: 15px;
    width: 93%;
    height: 10rem;

    justify-content: space-between; /* Distribuir elementos en el espacio disponible */
}

.seccion-perfil-usuario .perfil-usuario-footer { /* deberia quitar el footer de aqui para q tenga su medida independiente?*/
    /* display: flex;
    flex-wrap: wrap; */
    padding: 1.5rem 2rem;
    /* box-shadow: 0 0 12px rgba(0, 0, 0, .2); */
    background-color: #1f2122;
    border-radius: 15px;
    width: 85%;
}

.perfil-usuario-btn{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
}

.perfil-usuario-usernameBio{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 18rem;
}

.perfil-usuario-seguidores {
    width: 40%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 0.2rem;
    margin-bottom: 1.25rem;
}

.user-icon {
    text-align: center;
    /* border: 1px solid #ccc;  */
    padding: 0.7rem
}

.user-icon p {
    margin: 0;
}

.user-icon i{
    font-size: 1.3rem;
    margin-right: 0.4rem;
}


.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

/* adactacion a dispositivos */
@media (max-width: 750px) {
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }
}

/*
---------------------------------------------
Most Popular Style
---------------------------------------------
*/

ul {
  margin-bottom: 0px;
}

  .most-popular .item {
    background-color: #27292a;
    padding: 5px 15px 20px 15px;
    border-radius: 23px;
    margin-bottom: 30px;
    position: relative; /* Agregado para posicionar elementos secundarios */
  }

  .most-popular .item img {
    border-radius: 23px;
    opacity: 0.5%;
    position: absolute; /* Agregado para posicionar la imagen */
    top: 0; /* Ajustado según necesidad */
    left: 0; /* Ajustado según necesidad */
    z-index: 1; /* Asegura que la imagen esté delante del iframe */
  }

  .most-popular .item iframe {
    border-radius: 15%;
    padding: 10px 22px;

    margin-bottom: 0px;
    margin-left: -30px;
    position: relative; /* Agregado para evitar superposiciones con otros elementos */
    z-index: 0; /* Asegura que el iframe esté detrás de la imagen */
  }

  .most-popular .item h4 {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 0px;
    display: inline-block;
    white-space: nowrap;      
    overflow: hidden;         
    text-overflow: ellipsis;   
    max-width: 200px;  
  }

  .most-popular .item span {
    color: #666;
    display: block;
    margin-top: 7px;
    font-weight: 400;
  }

  .most-popular .item ul {
    float: right;
    margin-top: -3em;
    list-style-type: none;
    padding-left: 0;
  }

  .most-popular .item ul li {
    text-align: right;
    color: #fff;
    font-size: 14px;
  }

  .most-popular .item ul li:first-child i {
    color: #df9a41;
  }

  .most-popular .item ul li:last-child i {
    color: #df9a41;
  }

  .most-popular .main-button {
    text-align: center;
    margin-bottom: -53px;
  }
/* ---------------------------------------------------*/
.modal-content {
  background-color: #212529;
  color: #df9a41;
}
.btn-close{
  background-color:#df9a41;
}
.btn.btn-primary{
  background-color:#df9a41;
  border-color: #212529;
}
.buttonSub .btn-primary:hover::before {
  content: "Desuscribirse ";
}
.clips .item h4 {
  font-size: 15px;
  display: inline-block;  
}
.boton-lapiz{
  position: absolute;
    top: 15vh;
    right: 0;
    z-index: 1;
    border: 0;
    background-color: #df9a41;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
}

.boton-lapiz:hover{
  background-color: black;
}