<main>

    <section class="seccion-perfil-usuario">
        <section class="perfil-usuario-header">
            <div class="perfil-usuario-portada" [ngStyle]="{ 'background-image': wallpaperDefault }"> <!-- Wallpaper default -->

                <div class="perfil-usuario-avatar">
                    <img src="http://localhost/multimedia/relleno/img-c9.png" alt="img-avatar">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#editModal" class="boton-avatar">
                        <i class='bx bxs-cog'></i>
                    </button>

                    <!-- Modal Editar Perfil -->
                    <!-- <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editarModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-centered">
                            <div class="modal-content" style="height: 47rem;">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <app-editar-perfil></app-editar-perfil>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- Modal Editar Perfil -->
                </div>
                <button type="button" data-bs-toggle="modal" data-bs-target="#WallpaperModal" class="boton-portada">
                    <i class='bx bxs-image'></i>Cambiar fondo
                </button>

                    <!-- Modal Wallpaper -->
                    <div class="modal fade" id="WallpaperModal" tabindex="-1" aria-labelledby="wallpaperModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-centered">
                            <div class="modal-content" style="height: 47rem;">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <app-modal-change-wallpaper (wallpaperChanged)="onWallpaperChanged($event)"></app-modal-change-wallpaper>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Wallpaper -->

            </div>
        </section>
        <section class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                <div class="perfil-usuario-usernameBio">
                    <h3 class="titulo">{{ usuario.nombre }}</h3>
                    <p class="texto">{{ usuario.descripcion }}</p>
                </div>
                <div class="perfil-usuario-seguidores"> <!-- Btnes de seguidores/seguidos, seguir/dejar de seguir y enviar mensaje -->
                    <div class="user-icon">
                        <p><i class='bx bxs-user-voice'></i>545 seguidores</p>
                    </div>
                    <div class="user-icon">
                        <p><i class='bx bxs-star' ></i>65 seguidos</p>
                    </div>
                    <div class="user-icon">
                        <button><i class='bx bxs-user-plus'></i>Seguir</button><!-- Este boton debe poder actualizarse a "dejar de seguir" -->
                    </div>
                    <div class="user-icon">
                        <button><i class='bx bxs-paper-plane bx-tada'></i>Enviar mensaje</button>
                    </div>
                </div>
            </div>
            <div class="perfil-usuario-footer">
                <div class="perfil-usuario-btn">
                    <h3>Mis videos</h3>
                    <button><i class='bx bxs-cloud-upload'></i>Subir video</button>
                </div>
                <div class="videos">
                    <!-- AQUI VAN LOS VIDEOS -->
                </div>
            </div>
        </section>
    </section>

</main>
