<main class="seccion-perfil-usuario">

        <section class="perfil-usuario-header">
            <div class="perfil-usuario-portada" [ngStyle]="{'background-image': wallpaperDefault }"> <!-- Wallpaper default -->

                <div class="perfil-usuario-avatar" *ngIf="usuario">
                  <img src="{{ usuario?.imagen }}" alt="img-avatar">
                    <button *ngIf="!canal" type="button" class="boton-avatar" [routerLink]="['/editarPerfil', usuario?.id]">
                        <i class='bx bxs-cog'></i>
                    </button>
                </div>
                <div class="perfil-usuario-avatar" *ngIf="canal">
                  <img src="{{ canal?.imagen }}" alt="img-avatar">
                </div>
                <div *ngIf="!canal">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#WallpaperModal" class="boton-portada">
                        <i class='bx bxs-image'></i>Cambiar fondo
                    </button>
                </div>

                <!-- Modal Wallpaper -->
                <div class="modal fade" id="WallpaperModal" tabindex="-1" aria-labelledby="wallpaperModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-centered">
                        <div class="modal-content" style="height: 47rem;">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <app-modal-change-wallpaper (wallpaperChanged)="onWallpaperChanged($event)"></app-modal-change-wallpaper>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Wallpaper -->
            </div>
        </section>

        <section class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                <div class="perfil-usuario-usernameBio">
                    <div *ngIf="canal"> <!-- If del canal -->
                        <h3>{{ canal?.nombre }}</h3>
                        <p>{{ canal?.descripcion }}</p>
                    </div>
                    <h3 class="titulo">{{ usuario?.nombre }}</h3>
                    <p class="texto">{{ usuario?.descripcion }}</p>
                </div>
                <div class="perfil-usuario-seguidores"> <!-- Btnes de seguidores/seguidos, seguir/dejar de seguir y enviar mensaje -->
                  <div *ngIf="usuario" class="user-icon" style="margin-left: -10%;">
                    <div *ngIf="!privacidadUsuarioId?.isPublico else elseBlock" >
                          <p><i class='bx bxs-user-voice'></i> {{ numSuscriptores }} suscriptores</p>
                    </div>
                    <ng-template class="user-icon" style="margin-left: -10%;" #elseBlock>
                          <p><i class='bx bxs-user-voice'></i> {{substotales[0].total_subs}} suscriptores</p>
                    </ng-template>
                  </div>
                  <div *ngIf="canal" class="user-icon" style="margin-left: -10%;">
                    <div *ngIf="!privacidadUsuarioCanal?.isPublico else elseBlock1" >
                      <p><i class='bx bxs-user-voice'></i> {{ numSuscriptores }} suscriptores</p>
                    </div>
                    <ng-template class="user-icon" style="margin-left: -10%;" #elseBlock1>
                          <p><i class='bx bxs-user-voice'></i> {{substotales[0].total_subs}} suscriptores</p>
                    </ng-template>
                  </div>
                  <!-- <div class="user-icon" style="margin-left: -10%;" >
                    <p><i class='bx bxs-user-voice' ></i> {{substotales[0].total_subs}} suscriptores</p>
                  </div> -->
                  <div class="user-icon" *ngIf="canal">
                    <div>
                      <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalToggleLabel"> Envia un mensaje para empezar un Chat </h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <form>
                                <div class="mb-3">
                                  <label for="recipient-name" class="col-form-label"> Mensaje: </label>
                                  <input type="text" class="form-control" id="recipient-name" [(ngModel)]="mensaje" name="mensaje" (input)="actualizarEstadoBoton()" />
                                </div>
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal" (click)="enviarMensaje(mensaje,canal?.id)" [disabled]="!botonHabilitado">
                                Enviar Mensaje
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalToggleLabel2"> Envia un mensaje para empezar un Chat</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">¡Mensaje Enviado!{{ mensaje }}</div>
                            <div class="modal-footer">
                              <button class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close" [routerLink]="['/chats']">
                                Ir a Chats
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button" >
                        <i class='bx bxs-paper-plane bx-tada'></i>
                        Enviar Mensaje
                      </button>
                    </div>
                  </div>
                    <div class="user-icon" *ngIf="canal && privacidadUsuarioCanal?.permitirSuscripciones && privacidadUsuarioCanal?.isPublico">
                      <button class="btn btn-primary" (click)="suscripcion(canal?.id)" *ngIf="subs === false else elseBlock"><i class='bx bxs-user-plus'></i>Suscribete</button>
                        <ng-template class="buttonSub" #elseBlock>
                      <button class="btn btn-primary" (click)="suscripcion(canal?.id)" (mouseenter)="hovered = true" (mouseleave)="hovered = false" [ngClass]="{'btn-suscrito': hovered, 'btn-desuscribirse': !hovered}">
                           {{ hovered ? 'Desuscribirse' : 'Suscrito' }}
                      </button>
                       </ng-template>
                  </div>
                </div>
            </div>
        </section>

        <section class="perfil-usuario-footer"  *ngIf="usuario">  <!-- USUARIO  -->

          <div style="display: flex; flex-direction: row;" class="mb-4" *ngIf="!privacidadUsuarioId?.isPublico">
            <i class='bx bxs-error-circle bx-tada' id="alert"></i>
            <p>Recuerda que tu canal es privado y solo tu puedes ver el contenido que subes</p>
          </div>

          <div class="perfil-usuario-btn">
            <h3>Videos</h3>
            <div class="btn-videos">
                <button class="btn btn-primary" [routerLink]="['/subirVideo']"><i class='bx bxs-cloud-upload'></i>Subir video</button>
            </div>
          </div>

        <!-- ***** Videos ***** -->
          <div class="most-popular"  >
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-3 col-sm-6 " *ngFor= "let vid of videos">
                    <div class="item">
                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminación de Video</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              ¿Estás seguro que deseas eliminar el video?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="eliminarVideo(vid?.id)">Sí</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button type="button" class="boton-lapiz" [routerLink]="['/editarVideo', vid?.id]">
                        <i class='bx bxs-edit-alt' style='color:white' onmouseover="this.style.color='#df9a41'" onmouseout="this.style.color='white'"></i>
                      </button>
                      <button type="button" class="boton-borrar" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class='bx bxs-trash' style='color:white' onmouseover="this.style.color='#df9a41'" onmouseout="this.style.color='white'"></i>
                      </button>
                      <iframe  width="310" height="170" [src]="vid?.safeUrl" allow="autoplay"> </iframe>
                      <img (click)="videoDetails(vid?.id)" src="assets/imagenes/blanco.png">

                      <h4>{{vid?.titulo}}<br><span>{{vid?.canal}}</span></h4>
                      <ul *ngFor= "let via of vid.valoracionGlobalDTO" >
                        <li><i class='bx bx-like'></i> {{via.fav}}</li>
                        <li><i class='bx bx-dislike'></i> {{via.dislike}}</li>
                        <li *ngIf="via.visualizacion !== null; else holi"><i class='bx bx-show-alt'></i> {{via.visualizacion}}</li>
                      </ul>
                      <ng-template #holi><li><i class='bx bx-show-alt'></i>0</li> </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <!-- ***** Videos End ***** -->
    </section>

    <section class="perfil-usuario-footer" *ngIf="canal">  <!-- CANAL -->

      <div class="isPublico" *ngIf="!privacidadUsuarioCanal?.isPublico">
        <img src="../../../assets/imagenes/lock.png">
        <p>Este canal es privado</p>
      </div>

      <div class="perfil-usuario-btn" *ngIf="privacidadUsuarioCanal?.isPublico">
        <h3>Videos</h3>
      </div>

      <!-- ***** Videos ***** -->
        <div class="most-popular" *ngIf="privacidadUsuarioCanal?.isPublico">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-3 col-sm-6 " *ngFor= "let vid of videos">
                  <div class="item">
                    <button type="button" class="boton-lapiz" *ngIf="privacidadUsuarioCanal?.permitirDescargar">
                      <i class='bx bxs-download' style='color:white' onmouseover="this.style.color='#df9a41'" onmouseout="this.style.color='white'"></i>
                    </button>
                    <iframe  width="310" height="170" [src]="vid?.safeUrl" allow="autoplay"> </iframe>
                    <img (click)="videoDetails(vid?.id)" src="assets/imagenes/blanco.png">

                    <h4>{{vid?.titulo}}<br><span>{{vid?.canal}}</span></h4>
                    <ul *ngFor= "let via of vid.valoracionGlobalDTO" >
                      <li><i class='bx bx-like'></i> {{via.fav}}</li>
                      <li><i class='bx bx-dislike'></i> {{via.dislike}}</li>
                      <li *ngIf="via.visualizacion !== null; else holi"><i class='bx bx-show-alt'></i> {{via.visualizacion}}</li>
                    </ul>
                    <ng-template #holi><li><i class='bx bx-show-alt'></i>0</li> </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- ***** Videos End ***** -->
  </section>



</main>
