.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#f9ce99, transparent);
    margin-bottom: 0.75rem;
}

.seccion-perfil-usuario .perfil-usuario-portada { /* PORTADA CON IMAGEN */
    display: block;
    position: relative;
    width: 93%;
    height: 16.5rem;
    /* background-image: linear-gradient(45deg, #f9ce99, #e4a95b); */
    border-radius: 0 0 10px 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada { /* WALLPAPER */
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar { /* Circulo foto d perfil */
    display: flex;
    width: 17rem;
    height: 17rem;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -10rem;
    left: calc(14% - 9rem);
    z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar { /* btn de ajustes circulo */
    position: absolute;
    left: 2px;
    top: 2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
    cursor: pointer;
}

.boton-avatar i, .boton-portada i{
    font-size: 1.6rem;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 100%;
    position: relative;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    /* flex-wrap: wrap; */
    padding: 1.5rem 5rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 93%;
    height: 10rem;

    justify-content: space-between; /* Distribuir elementos en el espacio disponible */
}

.seccion-perfil-usuario .perfil-usuario-footer { /* deberia quitar el footer de aqui para q tenga su medida independiente?*/
    /* display: flex;
    flex-wrap: wrap; */
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 80%;
}

.perfil-usuario-btn{
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;    

} 

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
}

.perfil-usuario-usernameBio{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 18rem;
}

.perfil-usuario-seguidores {
    width: 40%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 0.2rem;
    margin-bottom: 1.25rem;
}

.user-icon {
    text-align: center;
    border: 1px solid #ccc; /* Borde para visualizar mejor las celdas */
    padding: 0.7rem
}

.user-icon p {
    margin: 0;
}

.user-icon i{
    font-size: 1.3rem;
    margin-right: 0.4rem;
}


.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

/* adactacion a dispositivos */
@media (max-width: 750px) {
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }

    .seccion-perfil-usuario .redes-sociales {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }

    .seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
        margin-left: 1rem;
        margin-top: 0;
    }
}
