<div class="Container">
  <div class="div" *ngIf="contactos$ | async as contactos; else loading">
    <div class="div2">
      <div class="contactos">
        <button
          *ngFor="let contact of contactos"
          class="etiqueta"
          (click)="mensajesChat(contact.id, contact.nombre)"
        >
          <img
            src="https://bootdey.com/img/Content/avatar/avatar2.png"
            alt="avatar"
          />
          <div class="names">
            <div>
              {{ contact.nombre }}
            </div>
          </div>
          <div></div>
        </button>
      </div>

      <div
        class="chat-arriba"
        *ngIf="mensajes$ | async as mensajesConver; else datos"
      >
        <div class="usuario">
          <img
            src="https://bootdey.com/img/Content/avatar/avatar2.png"
            alt="avatar"
          />

          <div>
            <h6>{{ nombreIdPersona }}</h6>
          </div>
        </div>

        <div #componentContainer class="chat">
          <div class="scroll">
            <div>
              <ul>
                <li *ngFor="let mensaje of mensajesJuntos">
                  <div *ngIf="mensaje.emisor">
                    <ul class="ul-self">
                      <li class="self">
                        <div class="msg">
                          <span>{{ mensaje.fecha }}:</span>
                        </div>
                        <div class="conver">{{ mensaje.mensaje }}</div>
                      </li>
                    </ul>
                  </div>
                  <div *ngIf="!mensaje.emisor">
                    <ul class="ul-other">
                      <li class="other">
                        <div class="msg">
                          <span>{{ mensaje.fecha }}:</span>
                        </div>
                        <div class="conver">{{ mensaje.mensaje }}</div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div *ngIf="chatSeleccionado" class="chat-abajo">
          <button (click)="enviarMensaje(nuevoMensaje, idPersona)">
            <img
              src="../../../assets/imagenes/envio.png"
              alt=""
              class="imgButton"
            />
          </button>
          <input
            type="text"
            [(ngModel)]="nuevoMensaje"
            placeholder="Escribe tu mensaje..."
          />
        </div>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <div class="spinner">
      <img
        class="img"
        src="https://media1.tenor.com/m/tT8SWAnd5CcAAAAC/lucky-star-lucky.gif"
        alt="Lucky Star Anime GIF - Lucky Star Lucky Star GIFs"
      />
    </div>
  </ng-template>

  <ng-template #datos>
    <div *ngIf="!chatSeleccionado">
      <div class="text">
        <h1>Elige un chat.</h1>
      </div>
    </div>
    <div class="chat-arriba" *ngIf="chatSeleccionado">
      <div class="usuario">
        <img
          src="https://bootdey.com/img/Content/avatar/avatar2.png"
          alt="avatar"
        />

        <div>
          <h6>{{ nombreIdPersona }}</h6>
        </div>
      </div>

      <div #componentContainer class="chat">
        <div class="scroll">
          <div>
            <ul>
              <li *ngFor="let mensaje of mensajesJuntos">
                <div *ngIf="mensaje.emisor">
                  <ul class="ul-self">
                    <li class="self">
                      <div class="msg">
                        <span>{{ mensaje.fecha }}:</span>
                      </div>
                      <div class="conver">{{ mensaje.mensaje }}</div>
                    </li>
                  </ul>
                </div>
                <div *ngIf="!mensaje.emisor">
                  <ul class="ul-other">
                    <li class="other">
                      <div class="msg">
                        <span>{{ mensaje.fecha }}:</span>
                      </div>
                      <div class="conver">{{ mensaje.mensaje }}</div>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>

            <ul class="ul-self">
              <li class="self-dots">
                <div class="msg">
                  <span></span>
                  <div class="conver">
                    <section class="dots-container">
                      <div class="dot"></div>
                      <div class="dot"></div>
                      <div class="dot"></div>
                      <div class="dot"></div>
                      <div class="dot"></div>
                    </section>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="chat-abajo">
        <button>
          <img
            src="../../../assets/imagenes/envio.png"
            alt=""
            class="imgButton"
          />
        </button>
        <input
          type="text"
          [(ngModel)]="nuevoMensaje"
          placeholder="Escribe tu mensaje..."
        />
      </div>
    </div>
  </ng-template>
</div>
