<div class="Container">
  <div class="div">
    <div class="div2">
      <div class="contactos">
        <button
          *ngFor="let chat of chatsRelacionados"
          class="etiqueta"
          (click)="seleccionarChat(chat)"
        >
          <img
            *ngIf="chat.id_usuario2 == idPersona"
            src="{{ persona[chat.id_usuario].img }}"
            alt="avatar"
          />
          <img
            *ngIf="chat.id_usuario2 != idPersona"
            src="{{ persona[chat.id_usuario2].img }}"
            alt="avatar"
          />
          <div class="names">
            <div *ngIf="chat.id_usuario2 == idPersona">
              {{ persona[chat.id_usuario].nombre }}
            </div>
            <div *ngIf="chat.id_usuario2 != idPersona">
              {{ persona[chat.id_usuario2].nombre }}
            </div>
            <p class="time">left 7 mins ago</p>
          </div>
        </button>
      </div>
      <div class="chat-arriba">
        <div class="usuario" *ngIf="chatSeleccionado">
          <div>
            <img
              *ngIf="chatSeleccionado.id_usuario2 == idPersona"
              src="{{ persona[chatSeleccionado.id_usuario].img }}"
              alt="avatar"
            />
            <img
              *ngIf="chatSeleccionado.id_usuario2 != idPersona"
              src="{{ persona[chatSeleccionado.id_usuario2].img }}"
              alt="avatar"
            />
            <div>
              <h6 *ngIf="chatSeleccionado.id_usuario2 == idPersona">
                {{ persona[chatSeleccionado.id_usuario].nombre }}
              </h6>
              <h6 *ngIf="chatSeleccionado.id_usuario2 != idPersona">
                {{ persona[chatSeleccionado.id_usuario2].nombre }}
              </h6>
              <small>Last seen: 2 hours ago</small>
            </div>
          </div>
        </div>

        <div #componentContainer class="chat">
          <div class="scroll">
            <div class="chat-mensajes">
              <ul *ngIf="chatSeleccionado" class="ul-chat">
                <li *ngFor="let mensajeId of chatSeleccionado.arrayMensajes">
                  <ng-container *ngIf="mensajes[mensajeId] as mensaje">
                    <ng-container
                      *ngIf="
                        mensaje.id_usuario === idPersona;
                        else otherMessage
                      "
                    >
                      <ul class="ul-self">
                        <li class="self">
                          <div class="msg">
                            <span>{{ mensaje.fecha }}:</span>
                          </div>
                          <div class="conver">{{ mensaje.mensaje }}</div>
                        </li>
                      </ul>
                    </ng-container>
                    <ng-template #otherMessage>
                      <ul class="ul-other">
                        <li class="other">
                          <div class="msg">
                            <span>{{ mensaje.fecha }}:</span>
                          </div>
                          <div class="conver">{{ mensaje.mensaje }}</div>
                          <br />
                        </li>
                      </ul>
                    </ng-template>
                  </ng-container>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div *ngIf="chatSeleccionado" class="chat-abajo">
          <button (click)="enviarMensaje()">
            <img src="../../../assets/imagenes/envio.png" alt="" class="imgButton"/>
          </button>
          <input
            type="text"
            [(ngModel)]="nuevoMensaje"
            placeholder="Escribe tu mensaje..."
          />
        </div>
      </div>
    </div>
  </div>
</div>
