<div class="Container">
  <div class="div" *ngIf="contactos$ | async as contactos; else loading">
    <div class="div2">
      <div class="contactos">
        <div class="buscador">
          <input
            class="input-busqueda"
            type="text"
            placeholder="Buscar contactos..."
            [(ngModel)]="filtroBusqueda"
            (input)="realizarBusqueda()"
          />
        </div>

        <div *ngIf="contactosMostrados.length > 0; else noContactos">
          <button
            [class.activado]="estadosBotones[contact.id]"
            *ngFor="let contact of contactosMostrados"
            class="etiqueta"
            (click)="mensajesChat(contact.id, contact.nombre, contact.imagen)"
          >
            <img src="{{ contact.imagen }}" alt="avatar" />
            <div class="names">
              <div>{{ contact.nombre }}</div>
            </div>
            <div></div>
          </button>
        </div>

        <ng-template #noContactos>
          <p>No se encontraron contactos con ese nombre.</p>
        </ng-template>
      </div>


      <div
        class="chat-arriba"
        *ngIf="mensajes$ | async as mensajesConver; else datos"
      >
        <div class="usuario">
          <img
            src="{{ imagenIdPersona }}"
            alt="avatar"
          />

          <div>
            <h6>{{ nombreIdPersona }}</h6>
          </div>
        </div>

        <div #componentContainer class="chat">
          <div class="scroll" #chatContainer>
            <div>
              <ul>
                <li *ngFor="let mensaje of mensajesJuntos; let i = index">
                  <div *ngIf="mensaje.emisor">
                    <ul class="ul-self">
                      <li
                        class="self"
                        [ngClass]="{
                          self1: i % 2 === 0,
                          self2: i % 2 !== 0,
                        }"
                      >
                        <div class="msg">
                          <span>{{ mensaje.fecha }}:</span>
                        </div>
                        <div class="conver">{{ mensaje.mensaje }}</div>
                      </li>
                    </ul>
                  </div>
                  <div *ngIf="!mensaje.emisor">
                    <ul class="ul-other">
                      <li
                        class="other"
                        [ngClass]="{
                          other1: i % 2 === 0,
                          other2: i % 2 !== 0,
                        }"
                      >
                        <div class="msg">
                          <span>{{ mensaje.fecha }}:</span>
                        </div>
                        <div class="conver">{{ mensaje.mensaje }}</div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div *ngIf="chatSeleccionado" class="chat-abajo">
          <input
            class="input"
            type="text"
            [(ngModel)]="nuevoMensaje"
            placeholder="Escribe tu mensaje..."
            (keyup.enter)="enviarMensaje(nuevoMensaje, idPersona)"
          />
          <button
            class="button"
            (click)="enviarMensaje(nuevoMensaje, idPersona)"
          >
            <i
              class="bx bxs-send"
              style="color: #030606"
              onmouseover="this.style.color='#DF9A37'"
              onmouseout="this.style.color='#030606'"
            ></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <div class="image">
      <img class="img" src="./assets/imagenes/logito.png" />
      <div class="spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </ng-template>

  <ng-template #datos>
    <div *ngIf="!chatSeleccionado">
      <div *ngIf="contactos.length == 0" class="text">
        <h1>Aún no tienes conversaciones.</h1>
      </div>
      <div *ngIf="contactos.length > 0"  class="text">
        <h1>Elige un chat.</h1>
      </div>
    </div>
    <div class="chat-arriba" *ngIf="chatSeleccionado">
      <div class="usuario">
        <img
          src="https://bootdey.com/img/Content/avatar/avatar2.png"
          alt="avatar"
        />

        <div>
          <h6>{{ nombreIdPersona }}</h6>
        </div>
      </div>

      <div #componentContainer class="chat">
        <div class="scroll" #chatContainer>
          <div>
            <ul>
              <li *ngFor="let mensaje of mensajesJuntos; let i = index">
                <div *ngIf="mensaje.emisor">
                  <ul class="ul-self">
                    <li
                      class="self"
                      [ngClass]="{
                        self1: i % 2 === 0,
                        self2: i % 2 !== 0,
                      }"
                    >
                      <div class="msg">
                        <span>{{ mensaje.fecha }}:</span>
                      </div>
                      <div class="conver">{{ mensaje.mensaje }}</div>
                    </li>
                  </ul>
                </div>
                <div *ngIf="!mensaje.emisor">
                  <ul class="ul-other">
                    <li
                      class="other"
                      [ngClass]="{
                        other1: i % 2 === 0,
                        other2: i % 2 !== 0,
                      }"
                    >
                      <div class="msg">
                        <span>{{ mensaje.fecha }}:</span>
                      </div>
                      <div class="conver">{{ mensaje.mensaje }}</div>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>

            <ul class="ul-self">
              <li class="self-dots">
                <div class="msg">
                  <span></span>
                  <div class="conver">
                    <section class="dots-container">
                      <div class="dot"></div>
                      <div class="dot"></div>
                      <div class="dot"></div>
                      <div class="dot"></div>
                      <div class="dot"></div>
                    </section>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="chat-abajo">
        <input
          class="input"
          type="text"
          [(ngModel)]="nuevoMensaje"
          placeholder="Escribe tu mensaje..."
        />
        <button class="button">
          <i
            class="bx bxs-send"
            style="color: #030606"
            onmouseover="this.style.color='#DF9A37'"
            onmouseout="this.style.color='#030606'"
          ></i>
        </button>
      </div>
    </div>
  </ng-template>
</div>
