<div class="container">

<div class="buttons">
  <button class="btn btn-primary" (click)="buscarTitulos()">Videos</button>
  <button class="btn btn-primary" (click)="buscarCanales()">Canales</button>
</div>

<div class="seccion" *ngIf="seccionElegida === 'videos'">
  <div *ngIf="videos.length === 0">
    <p>No hay ningún Video con el nombre: {{ dato }}</p>
  </div>
  <div *ngIf="videos.length > 0">
  <div class="videos" *ngFor="let vi of videos">
    <div class="item">
      <div>
        <iframe width="320" height="180" [src]="vi.safeUrl" allow="autoplay">
        </iframe>
        <img class="imagen" (click)="videoDetails(vi.id)" src="assets/imagenes/blanco.png">
      </div>
      <div>
        <h4 (click)="videoDetails(vi.id)">
          {{ vi.titulo }}
        </h4>
        <div *ngIf="vi.imagen">
          <img [src]="vi.imagen" alt="" />
        </div>

        <div class="name">
          <div *ngIf="!vi.imagen">
            <img class="canal" (click)="cargarPerfil(vi.nombre_canal)" src="assets/imagenes/naranja.png" alt="" />
          </div>
          <p class="p" (click)="cargarPerfil(vi.nombre_canal)">{{ vi.nombre_canal }}</p>
        </div>

        <p>{{ vi.descripcion }}</p>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="seccion" *ngIf="seccionElegida === 'canales'">
  <div *ngIf="canales.length === 0">
    <p>No hay ningún Canal con el nombre: {{ dato }}</p>
  </div>
  <div class="partition" *ngIf="canales.length > 0">
    <div *ngFor="let vi of canales" class="canalContainer">
      <img class="icon" src="assets/imagenes/naranja.png" />
      <div class="sub">
        <a [routerLink]="['/perfil', vi.nombre_canal]">
          <h4>{{ vi.nombre_canal }}</h4>
        </a>
        <p>&#64;{{ vi.username }} - subs: {{ vi.suscriptores }}</p>
        <p class="descripcion">{{ vi.descripcion }}</p>
      </div>
    </div>
  </div>
</div>
</div>
