<div class="container">

<div class="buttons">
  <button class="but" (click)="buscarTitulos()">Videos</button>
  <button class="but" (click)="buscarCanales()">Canales</button>
</div>

<div class="seccion" *ngIf="seccionElegida === 'videos'">
  <p>Contenido de Videos</p>
  <div *ngIf="videos.length === 0">
    <p>No hay ningún Video con el nombre: {{ dato }}</p>
  </div>
  <div *ngIf="videos.length > 0">
  <div class="videos" *ngFor="let vi of videos">
    <div class="item">
      <div>
        <iframe width="320" height="180" [src]="vi.safeUrl" allow="autoplay">
        </iframe>
        <img (click)="videoDetails(vi.id)" />
      </div>
      <div>
        <h4>
          {{ vi.titulo }}
        </h4>
        <div *ngIf="vi.imagen">
          <img [src]="vi.imagen" alt="" />
        </div>

        <div class="name">
          <div *ngIf="!vi.imagen">
            <img class="canal" src="assets/imagenes/naranja.png" alt="" />
          </div>
          <p>{{ vi.nombre_canal }}</p>
        </div>

        <p>{{ vi.descripcion }}</p>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="seccion" *ngIf="seccionElegida === 'canales'">
  <p>Contenido de Canales</p>
  <div *ngIf="canales.length === 0">
    <p>No hay ningún Canal con el nombre: {{ dato }}</p>
  </div>
  <div *ngIf="canales.length > 0">
  <div class="canalContainer" *ngFor="let vi of canales">
    <img class="icon" src="assets/imagenes/naranja.png" />
    <div>
      <div>
        <a [routerLink]="['../Canal', vi.id]">
          <h4>{{ vi.nombre_canal }}</h4>
        </a>
      </div>
      <div>
        <p>&#64;{{ vi.username }} - subs: {{ vi.suscriptores }}</p>
        <p class="descripcion">{{ vi.descripcion }}</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
